In [2]:
from pyspark.sql.functions import split,lit,rtrim,col,trim

In [18]:
mestables=spark.sql("show tables in tp2").collect()

In [23]:
mestables_df=spark.sql("show tables in tp2")

In [44]:
import pandas as pd
mestables_pandas=mestables_df.toPandas()

In [48]:
mestables_pandas.iloc[:,1]

0               143534_test
1            arnette_exttab
2             arnette_tabl2
3             arnette_table
4        bdy_external_table
5               c78355_test
6     l329160_table_externe
7              l329160_test
8              l370051_test
9              l505096_test
10    l514714_table_externe
11             l514714_test
12             l794548_test
13          matable2_143534
14           matable_143534
15           matable_264354
16           matable_c78355
17          matable_l505096
18             nicolas_test
19               vedha_test
Name: tableName, dtype: object

In [49]:
type(mestables_pandas.iloc[:,1])

pandas.core.series.Series

In [19]:
type(mestables)

list

In [ ]:
file = open("/PF/TP/LOG/test_c78355.log",'a')

In [28]:
"select count(*) from tp2."+mestables[0][1]

'select count(*) from tp2.143534_test'

In [39]:
#countLignes=spark.sql("select count(*) from tp2."+mestables[0][1]).collect()[0][0]

In [40]:
countLignes=spark.table("tp2."+mestables[0][1]).count()

In [41]:
countLignes

99

In [43]:
file = open("/PF/TP/LOG/test2_c78355.log",'a')
for i in range (len(mestables)):
    print(mestables[i][1])
    countLignes=spark.table("tp2."+mestables[i][1]).count()
    file.write(mestables[i][1] +" "+str(countLignes) + "\n")
file.close()

143534_test
arnette_exttab
arnette_tabl2
arnette_table
bdy_external_table
c78355_test
l329160_table_externe
l329160_test
l370051_test
l505096_test
l514714_table_externe
l514714_test
l794548_test
matable2_143534
matable_143534
matable_264354
matable_c78355
matable_l505096
nicolas_test
vedha_test

In [15]:
file.write("sasslut")

7

In [16]:
file.close()